<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A propos de l'association</h2>
                <h3 class="section-subheading text-muted">ACTIF regroupe l'ensemble des sites CEA d'île-de-France. Chaque site possède un référent ACTIF vers qui tu peux te tourner si tu as des questions ou si tu veux t'investir dans l'association.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/cea-saclay.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Saclay & Nano-Innov</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                Membres du bureau:
                                    <ul dir="rtl">
                                        <li>Jonathan FONTAINE (Trésorier)</li>
                                        <li>Vagisha NIDHI (Trésorière-Adjointe)</li>
                                        <li>Valentin GILBERT (Président)</li>
                                        <li>Julien RODRIGUEZ (Vice-Président)</li>
                                    </ul>
                                Membres actifs: <br/>
                                Asma BRAZI, Adrien ROBERTY, <br/>
                                Guillaume ROUMAGE, Simon TOLLEC, <br/>
                                Olivier TRUFFINET
                                </p>  
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/cea-FAR.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Fontenay-Aux-Roses</h4>
                            </div>
                            <div class="timeline-body text-muted">
                                <p>Membres du bureau:
                                    <ul>
                                        <li>Alexandra DETRILLE (Représentante)</li>
                                        <li>Gaëlle SANDILLON (Vice-Présidente)</li>
                                        <li>Sarah UNGEHEUER (Secrétaire Générale)</li>
                                    </ul>
                                    Membres actifs: <br/>
                                    Miriam RIQUELME PEREZ

                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/cea-bruyere-le-chatel.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Bruyères-le-Châtel</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nous ne possédons pas encore de référents sur ce site: si tu es intéressé, contacte-nous !</p>
                            </div>
                        </div>
                    </li>
                    <!--
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2014</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    -->
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                <br>Rejoins-nous !
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
