<!--<section id="guide">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Guide du doctorant</h2>
                <h3 class="section-subheading text-muted">Le guide du doctorant t'informe sur l'ensemble des services disponibles au CEA !</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <a class="hover-secondary" href="doc/Guide_du_Doctorant.pdf" target="_blank">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="service-heading">Version Française</h4>
            </div>
            <div class="col-md-6">
                <a class="hover-secondary" href="doc/PHD_handbook.pdf" target="_blank">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="service-heading">English Version</h4>
            </div>
        </div>
    </div>
</section>-->