<section id="guide">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Guide du doctorant</h2>
                <h3 class="section-heading text-muted">Le guide du doctorant t'informe sur l'ensemble des services disponibles au CEA !</h3>
                <h3 class="section-subheading text-muted text-secondary">Attention, le téléchargement nécessite un accès intra CEA. Contacte-nous si tu n'as pas encore accès à l'intra !</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <a class="hover-secondary" href="https://collab-intranet-psac.intra.cea.fr/assoc/_layouts/15/download.aspx?sourceUrl=%2Fassoc%2FDocuments%20partages%2FACTIF%2DGuide%2Ddu%2DDoctorant%2Epdf" target="_blank">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="service-heading">Version Française</h4>
            </div>
            <div class="col-md-6">
                <a class="hover-secondary" href="https://collab-intranet-psac.intra.cea.fr/assoc/_layouts/15/download.aspx?SourceUrl=%2Fassoc%2FDocuments%20partages%2FACTIF%2DPHD%2Dhandbook%2Epdf" target="_blank">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="service-heading">English Version</h4>
            </div>
        </div>
    </div>
</section>