<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Futurs évènements</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <!-- Future events -->
            {% assign currentDate = 'now' | date: '%s' %}
            {% for post in site.posts reversed %}
                {% if post.project-date %}
                    {% assign postDate = post.project-date | date: '%s' %}
                    {% if postDate > currentDate %}
                        {% include portfolio_element.html %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Projets et évènements passés</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        
        <div class="row">
            <!-- Past projects & events -->
            {% assign pCount=0 %}
            {% for post in site.posts %}
                {% if post.project-date %}
                    {% assign postDate = post.project-date | date: '%s' %}
                    {% if currentDate > postDate and pCount < 12 %}
                        {% include portfolio_element.html %}
                        {% assign pCount = pCount | plus: 1 %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
