<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Missions</h2>
                    <h3 class="section-subheading text-muted">Après une année difficile due au Covid, ACTIF relance ses activités et met tout en oeuvre pour te proposer les évènements suivants</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Professionel & Scientifique</h4>
                    <p class="text-muted">Avec nos partenaires nous projetons d'organiser: Séminaires scientifiques (visites de sites uniques), congrès axés sur l'environnement et le développement durable, hackatons, retour d'expérience d'anciens doctorants</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Social</h4>
                    <p class="text-muted">Afterworks, soirées à thème, Stand pour la fête de la musique, soirée d'intégration: voici un bref aperçu de ce qui devrait se dérouler à partir de septembre 2022.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Intégration des doctorants</h4>
                    <p class="text-muted">Doctorants, jeunes chercheurs et stagiaires: c'est grâce à vous que l'association ACTIF prend vie. Le retour du guide du doctorant se fera en automne 2022. Si tu as des questionnements sur ton arrivée, n'hésite pas et envoie-nous un message !</p>
                </div>
            </div>

            
        </div>
    </section>